.date-input-root {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    padding: 8.5px 14px;
    width: calc(100% - 28px);
    border: 0;
    box-shadow: 0px 0px 0px 0.5px #cccccc;
    border-radius: 9px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: auto;
    display: block;
    min-width: 0;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    margin-bottom: 20px;
}

.date-input-root:focus {
    background-color: white;
}