.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.sign-in {
  height: 100vh;
  min-width: 100%;
  background-image: url("../assets/travel.jpg");
  position: absolute;
  width: 100%;
  background-position: center;
}

.main-content {
  --app-background-base: #e5bc36b3;
  --app-background-gradient: #e5bc36b3;
  height: 100vh;
  background: var(--app-background-base);
  background: linear-gradient(to right, var(--app-background-base), var(--app-background-gradient));

}
@media screen and (min-height: 768px) {
  .main-content {
    background: #eee;
  }
}
